:root {
  --list-background: #1f2937;
  --list-background-hover: #374151;
}

.sidebar {
  /* I fix the sidebar to the left side of the screen */
  position: fixed;
  left: 0;
  /* ------------------------------------------------ */
  background-color: var(--list-background);
  border-radius: 0.2rem;
  padding-left: 0;
  height: 100vh;
  top: 0;
  padding-top: 2rem;
  width: auto;
}

.sidebar.collapsed { width: 6rem; justify-content: center;}
.sidebar.expanded { width: 16rem }

.sidebar.collapsed li { 
  justify-content: center;
}
.sidebar.collapsed .brand-title .title { 
  display: none;
}
.sidebar.collapsed .streak-item { 
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  font-size: 0.7em;
  margin-left: -0.1rem;
}
.sidebar.collapsed .icons { 
  font-size: 1.5em;
}
.sidebar.collapsed .icons-emoji { 
  font-size: 1em;
}
.sidebar.collapsed .labels  { 
  display: none;
}

/* pin button */
.sidebar.expanded .pin{ 
  display: flex;
}
.sidebar.collapsed .pin {
  display: none;
}
.pin-container{
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 50%;
  background-color: var(--list-background);
  right: -0.8rem;
}
.pin {
  rotate: calc(+30deg);
  border-radius: 50%;
  margin: 0;
  padding: 0.4rem;
  font-size: 1.1rem;
}

ul {
  background-color: var(--list-background);
  display: grid;
  grid-template: 1fr 1fr;
  padding: 0;
  list-style: none;
  margin-bottom: 2rem;
  margin-left: 0;
}

.brand-title {
  display: inline-flex;
  align-items: center;
  gap: 0.75rem;
  height: 3rem;
  margin: 0.5rem 0.5rem 0 0.7rem;
  padding-left: 0;
  width: 14rem;
  user-select: none;
}

.brand-title img {
  padding-left: 0.75rem;
  width: 2rem;
  height: 2rem;
}

.title {
  font-size: 1.5em;
  font-weight: 600;
  color: white;
  line-height: 1;
  position: relative;
  top: -0.125rem;
}

li {
  display: flex;
  height: 1.5rem;
  text-align: left;
  padding: 0 1rem;
  cursor: pointer;
}

button {
  background-color: var(--list-background);
  width: 100%;
  background: none;
  border: none;
  color: inherit;
  display: flex;
  align-items: center;
  margin: 0.5rem 0.5rem 0 0.7rem; /* top right bottom left */
  padding-left: 0; /* center the elements to the left */
}

button:hover {
  background-color: var(--list-background-hover);
  border-color: var(--list-background-hover);
}

.icons {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  line-height: 3rem;
  margin-right: 1rem;
  padding-left: 0;
}

.labels {
  display: flex;
  font-size: 1rem;
  align-items: center;
}

.streak-item {
  margin-top: 1rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem; 
  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s ease;

  width: 12.5rem;
  margin: 0.5rem 0 0 0.7rem;
}

/* Icono dentro del streak */
.icons {
  display: flex;
  align-items: center;
  font-size: 1em; 
}

.icons-emoji {
  font-size: 1.5em; /* tamaño más grande solo para el fuego */
  margin-left: 0.25rem; /* espacio entre número y emoji */
}

.labels {
  display: flex;
  align-items: center;
  font-size: 1rem;
}
